# Python Basics for Data Analysis
This beginner-level notebook includes examples of Python and pandas for basic data analysis.
Created by: Beginner Data Scientist
Date: 2025-05-24

In [ ]:
# Basic Python
x = 5
y = 3
print('Sum:', x + y)

In [ ]:
# Lists and loops
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
# Functions
def greet(name):
    return f'Hello, {name}!'

greet('Data Scientist')

## Working with pandas

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['NY', 'LA', 'Chicago']}

df = pd.DataFrame(data)
df

In [ ]:
# Filter data
adults = df[df['Age'] > 28]
adults

In [ ]:
# Summary statistics
df.describe()